<!-- Start Component HTML Template -->
<app-nav-tasksync/>
<div>
  
    <app-hero/>
  
  
</div>























<!-- 
<section id="hero">
  @defer () {
      <img src="assets/images/hero-image.jpg" alt="Hero Image" class="hero-image">

  }

  <div class="hero-content">
    <h1>Bienvenido a TaskSync</h1>
    <p>Simplifica tu trabajo, optimiza tu tiempo: gestión de tareas en tiempo real.</p>
    <button routerLink="/register">Comenzar</button>
  </div>
</section>

<section id="features">
  <h2>Características</h2>
  <div class="feature">
    <h3>Gestión de Tareas</h3>
    <p>Organiza tus tareas de manera eficiente.</p>
  </div>
  <div class="feature">
    <h3>Colaboración</h3>
    <p>Trabaja en equipo y comparte tareas.</p>
  </div>
  <div class="feature">
    <h3>Notificaciones</h3>
    <p>Recibe recordatorios para no olvidar nada importante.</p>
  </div>
</section>

<section id="login">
  <h2>Inicia sesión</h2>
  <app-login-pages></app-login-pages>
</section>


<section id="cta">
  <h2>¿Listo para empezar?</h2>
  <button routerLink="/register">Regístrate ahora</button>
</section>
-->